

<div class='two-jobs-all-skills scene'>
	{{#each copy.two-jobs-all-skills}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</div>


<div class='two-jobs-skills-difference scene'>
	{{#each copy.two-jobs-skills-difference}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</div>



<div class='two-jobs-stack-difference scene'>
	{{#each copy.two-jobs-stack-difference}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</div>


<div class='many-jobs-stack-difference scene'>
	{{#each copy.many-jobs-stack-difference}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</div>
