<section class='section--scatter section'>

  {{#each copy.scatter}}
    <div class='section__scene' data-step='{{{step}}}' data-index='{{id}}'>
		<p class='prose'>{{{text}}}</p>
    </div>
	{{/each}}

</section>
